## 5.1 Overview of a Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series()

Series([], dtype: float64)

In [3]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [4]:
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [5]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [6]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"] 
days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# The two lines below are equivalent
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [7]:
stock_prices = [985.32, 950.44]
times = ["Open", "Close"]
pd.Series(data = stock_prices, index = times)

Open     985.32
Close    950.44
dtype: float64

In [8]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [9]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

In [11]:
pd.Series(data = ["Hello", None])

0    Hello
1     None
dtype: object

## 5.2 Create a Series from Python Objects

In [12]:
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342
}

diet = pd.Series(calorie_info)

diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [13]:
diet.values

array([125, 406, 342])

In [14]:
type(diet.values)

numpy.ndarray

In [15]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [16]:
type(diet.index)

pandas.core.indexes.base.Index

In [17]:
diet.size

3

In [18]:
diet.shape

(3,)

In [19]:
diet.unique

<bound method Series.unique of Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64>

In [20]:
pd.Series(data = [3, 3]).is_unique

False

In [21]:
pd.Series(data = [1, 3, 6]).is_monotonic

True

In [22]:
pd.Series(data = [1, 6, 3]).is_monotonic

False

In [23]:
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [24]:
pd.Series(data = [("Red", "Green", "Blue"), ("Orange", "Yellow")])

0    (Red, Green, Blue)
1      (Orange, Yellow)
dtype: object

In [25]:
my_set = { "Ricky", "Bobby" }
# pd.Series(my_set)

In [26]:
pd.Series(list(my_set))

0    Ricky
1    Bobby
dtype: object

In [27]:
data = np.random.randint(1, 101, 10)
data

array([64, 81, 71, 60, 35, 57, 73,  7, 13, 60])

In [28]:
pd.Series(data)

0    64
1    81
2    71
3    60
4    35
5    57
6    73
7     7
8    13
9    60
dtype: int64

In [29]:
# pd.Series(np.random.randn(5, 10))

## 5.3 Retrieving the First and Last Rows

In [30]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [31]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [32]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [33]:
nums.tail(3)

97    485
98    490
99    495
dtype: int64

In [34]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

## 5.4 Mathematical Operations

In [35]:
s = pd.Series([1, 2, 3, np.nan, 4, 5])

In [36]:
s.sum()

15.0

In [37]:
s.sum(skipna = False)

nan

In [38]:
s.sum(min_count = 3)

15.0

In [39]:
s.sum(min_count = 5)

15.0

In [40]:
s.sum(min_count = 6)

nan

In [41]:
s.product()

120.0

In [42]:
s.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [43]:
s.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [44]:
s.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [45]:
s.mean()

3.0

In [46]:
s.median()

3.0

In [47]:
s.std()

1.5811388300841898

In [48]:
s.max()

5.0

In [49]:
s.min()

1.0

In [50]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals.max()

'zebra'

In [51]:
animals.min()

'aardvark'

In [52]:
s.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [53]:
s.sample(3)

5    5.0
2    3.0
1    2.0
dtype: float64

In [54]:
s.sample()

5    5.0
dtype: float64

In [55]:
authors = pd.Series(["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"])
authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [56]:
authors.nunique()

4

In [57]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [58]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [59]:
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [60]:
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [61]:
s1 / 2

A    2.5
B    NaN
C    7.5
dtype: float64

In [62]:
s1 // 4

A    1.0
B    NaN
C    3.0
dtype: float64

In [63]:
s1 % 3

A    2.0
B    NaN
C    0.0
dtype: float64

In [64]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])
s1 + s2

A    5
B    7
C    9
dtype: int64

In [65]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

s1 == s2

0    False
1     True
2    False
3     True
dtype: bool

In [66]:
s1 != s2

0     True
1    False
2     True
3    False
dtype: bool

In [67]:
s1 = pd.Series(data = [5, 10, 15], index = ["A", "B", "C"])
s2 = pd.Series(data = [4, 8, 12, 14], index=["B", "C", "D", "E"])    
     
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

## 5.5 Passing the Series to Python's Built-In Functions

In [68]:
cities = pd.Series(data = ["San Francisco", "Los Angeles", "Las  Vegas"])

In [69]:
len(cities)

3

In [70]:
type(cities)

pandas.core.series.Series

In [71]:
list(cities)

['San Francisco', 'Los Angeles', 'Las  Vegas']

In [72]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las  Vegas'}

In [73]:
max(cities)

'San Francisco'

In [74]:
min(cities)

'Las  Vegas'

In [75]:
"Las Vegas" in cities

False

In [76]:
2 in cities

True

In [77]:
"Las Vegas" in cities.values

False

In [78]:
100 not in cities

True

In [79]:
"Paris" not in cities.values

True

## 5.6 Coding Challenges / Exercises

In [80]:
colors = ["Red", "Blue", "White", "Navy"]
pd.Series(colors)

0      Red
1     Blue
2    White
3     Navy
dtype: object

In [81]:
pd.Series(data = [1, 2, 3, 4], index = colors)

Red      1
Blue     2
White    3
Navy     4
dtype: int64