## D.1 Installation

## D.2 Getting Started with Faker

In [1]:
import pandas as pd
import numpy as np
import faker

In [2]:
fake = faker.Faker()

In [3]:
fake.name()

'Michael Orozco'

In [4]:
fake.name_male()

'David Sampson'

In [5]:
fake.name_female()

'Lauren James'

In [6]:
fake.first_name()

'John'

In [7]:
fake.last_name()

'Reynolds'

In [8]:
fake.first_name_male()

'Frank'

In [9]:
fake.first_name_female()

'Cassandra'

In [10]:
fake.address()

'71760 Amber Neck\nEast Manuelborough, WI 12173'

In [11]:
print(fake.address())

21723 Bailey Summit
Stevenport, NJ 76804

In [12]:
fake.street_address()

'1870 Kenneth Isle'

In [13]:
fake.city()

'West Charlesberg'

In [14]:
fake.state()

'Oklahoma'

In [15]:
fake.postcode()

'69060'

In [16]:
fake.company()

'Williams Ltd'

In [17]:
fake.catch_phrase()

'Quality-focused leadingedge flexibility'

In [18]:
fake.job()

'Computer games developer'

In [19]:
fake.url()

'https://dougherty.biz/'

In [20]:
fake.email()

'carlosmartinez@hughes.com'

In [21]:
fake.phone_number()

'+1-718-855-0927x84517'

In [22]:
fake.credit_card_number()

'30537362712205'

## D.3 Populating a DataFrame with Fake Values

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
first_name = fake.first_name_female()
last_name = fake.last_name()
email = first_name + last_name + "@gmail.com"
email

'KarenWilson@gmail.com'

In [25]:
data = [
    { "Name": fake.name(), 
      "Company": fake.company(), 
      "Email": fake.email(), 
      "Salary": np.random.randint(50000, 200000) 
    }
    for i in range(1000)
]

In [26]:
df = pd.DataFrame(data = data)
df

,Name,Company,Email,Salary
0,Donna Parker,"Gentry, Daniels and Lloyd",wilcoxalicia@bender.net,142044
1,Lawrence Valentine,Odonnell-Martinez,robert76@barnes.com,114161
2,Marc Ashley,Martin and Sons,downsbethany@werner.org,197443
3,Patricia Houston,Hernandez-Perez,evelyn72@ray-mcneil.org,92360
4,David Juarez,Miller-Miller,kristinross@garcia.info,175548
...,...,...,...,...
995,Michael Ellis,"Moore, Smith and Williams",zmorton@yahoo.com,113837
996,Robert Orozco,Shannon PLC,wbates@gmail.com,186079
997,Chelsea Jones,Kaiser Group,smithdaniel@robles-johns.com,179246
998,Martin Wilson,Gilmore-Smith,emmalewis@mcdonald-maldonado.com,85291
999,Steven Martin,Ayala and Sons,jamesmichael@donovan.com,115257

## D.4 Summary