## D.1 Installation

## D.2 Getting Started with Faker

In [1]:
import pandas as pd
import numpy as np
import faker

In [2]:
fake = faker.Faker()

In [3]:
fake.name()

'Walter Chavez'

In [4]:
fake.name_male()

'Daniel Rhodes'

In [5]:
fake.name_female()

'Sandra Davis'

In [6]:
fake.first_name()

'Ryan'

In [7]:
fake.last_name()

'Williams'

In [8]:
fake.first_name_male()

'James'

In [9]:
fake.first_name_female()

'Erin'

In [10]:
fake.address()

'8746 Kimberly Plaza Apt. 087\nRonaldfurt, RI 74428'

In [11]:
fake.street_address()

'97947 Schultz Forge Suite 569'

In [12]:
fake.city()

'Harmonstad'

In [13]:
fake.state()

'North Dakota'

In [14]:
fake.postcode()

'03370'

In [15]:
fake.company()

'Marsh LLC'

In [16]:
fake.catch_phrase()

'Quality-focused human-resource system engine'

In [17]:
fake.job()

'Print production planner'

In [18]:
fake.url()

'http://white.com/'

In [19]:
fake.email()

'sarahkelley@yahoo.com'

In [20]:
fake.phone_number()

'490.004.2387x854'

In [21]:
fake.credit_card_number()

'4886763096926351'

## D.3 Populating a DataFrame with Fake Values

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
first_name = fake.first_name_female()
last_name = fake.last_name()
email = first_name + last_name + "@gmail.com"
email

'AmberCarpenter@gmail.com'

In [24]:
data = [
    { "Name": fake.name(), 
      "Company": fake.company(), 
      "Email": fake.email(), 
      "Salary": np.random.randint(50000, 200000) 
    }
    for i in range(1000)
]

In [25]:
df = pd.DataFrame(data = data)
df

,Name,Company,Email,Salary
0,Nathaniel Casey,"Brewer, Morgan and Thompson",wattsolivia@nelson.com,164707
1,Richard Rogers,Flowers-Arnold,obest@hotmail.com,181502
2,Vanessa Guzman,Martin-Owen,sandradean@yahoo.com,131573
3,David Hancock,Smith-Myers,williamsrobin@yahoo.com,82375
4,Julia Rose,Cobb and Sons,yperkins@hotmail.com,132914
...,...,...,...,...
995,Jennifer Chung,Anthony Ltd,david46@smith-bowman.info,99404
996,Michael Costa,King-Washington,michael68@mora.info,171188
997,Dr. Ricky Hamilton,Cooper LLC,johnstonisaac@hotmail.com,192567
998,Geoffrey Torres,"Carroll, Glass and Decker",fjackson@hotmail.com,55793
999,Stuart Watson,"Wilkinson, Rowe and Hernandez",mathewlee@lambert.biz,157678